.message {
    position: relative;
    margin: 10px 0px 10px;
    padding: 8px 12px 12px;
    max-width: 55%;
    background-color: #ebe9e9;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#own-message {
    margin-left: auto;
    background-color: #ddffc6;
}
#own-message .username, #own-message .avatar{
    display: none;
}
#own-message .message-date {
    position: relative;
    margin: 0px;
}
.username {
    margin-bottom: 6px;
    align-self: flex-start;
}
.content_center {
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.avatar {
    position: relative;
    margin-right: 25px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
img {
    position: absolute;
    width: 100%;
}
.message-date {
    position: absolute;
    right:10;
    bottom: 0;
    margin-bottom: 10px;
    align-self: flex-end;
}
.message-like {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(100%, 0);
    cursor: pointer;
}
#heart.heart {
    position: absolute;
    left: 0;
}
.heart {
    padding: 15px;
    fill: #FF6767;
}
.own-message-icons {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-100%, 0);
}
.own-message-icons svg {
    padding: 9px;
    width: 15px;
    height: 15px;
    fill: #333333;
    cursor: pointer;
}
.own-message-icons .edit {
    padding: 10px;
    width: 13px;
    height: 13px;
}