.fill {
    width: 100vw;
    height: 100vh;
    color: #e8f0e6;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-window {
    padding: 20px;
    width: 40%;
    max-width: 600px;
    border-radius: 7px;
    background-color: #333333;
    text-align: center;
}
#login-window span {
    font-size: 1.8em;
}
form#login-form {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input#login-input__email, input#login-input__password {
    margin: 10px;
    padding: 6px;
    height: 24px;
    width: 75%;
    border: none;
    border-radius: 4px;
    color: #333333;
    background-color: #ebe9e9;
    outline: none;
}
.login__button {
    margin-left: auto;
    padding: 12px;
    width: 70px;
    color: #e8f0e6;
    background-color:  #6d6d6d;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}