#error-modal {
    position: fixed;
    top: 0;
    right: 50;
    margin-top: 20px;
    padding: 30px;
    color: #333333;
    background-color: #FF6767;
    border-radius: 8px;
    font-size: 1.2em;
}