#logo {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100px;
    display: flex;
    justify-content: flex-start;
}
.main-content {
    margin: 60px auto;
    max-width: 768px;
    color: #333333;
}