.user-item {
    margin: 30px auto;
    padding: 18px;
    width: 100%;
    border: 1px solid #333333;
    border-radius: 7px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}
.user-item__text {
    padding: 6px 12px;
    width: 60%;
    color: #e8f0e6;
    background-color: #6d6d6d;
    border-radius: 5px;
}
.user-item__name {
    margin-right: 40px;
}
.user-item .btn {
    margin-left: 10px;
    width: 80px;
}
.user-item__edit {
    background-color: transparent;
    border: 1px solid #333333;
}
.user-item__edit:hover {
    color: #e8f0e6;
    background-color: #6d6d6d;
    border: 1px solid #6d6d6d;
}
.user-item__delete {
    background-color: transparent;
}
.user-item__delete:hover {
    border: 1px solid #333333;
}