.user-list__page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-list__container {
    width: 60%;   
}
.btn {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ffaaaa;
    cursor: pointer;
}
.btn.user-list__button {
    margin-top: 20px;
    color: #e8f0e6;
    background-color: #333333;
}
.btn.user-list__button:hover {
    background-color: #6d6d6d;
}