#blackout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
}
#edit-window {
    position: relative;
    padding: 30px;
    width: 50%;
    height: 45%;
    border-radius: 7px;
    background-color: #fffefe;
    z-index: 102;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#action-name {
    font-size: 1.2em;
    text-align: center;
}
#edit-input__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
#edit-input {
    margin: 50px 0px 30px;
    padding: 12px;
    width: 100%;
    height: 80%;
    font-size: 14px;
    font-family: inherit;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    resize: none;
}
.edit-page__btn {
    margin-left: 24px;
    padding: 12px 12px;
    height: 44px;
    font-size: 1em;
    border: none;
    border-radius: 3px;
    color: #ebe9e9;
    background-color: #333333;
    cursor: pointer;
}
.edit-input__cancel {
    width: 75px;
    background-color: transparent;
    color: #333333;
    box-sizing: border-box;
}
.edit-input__cancel:hover {
    border: 1px solid #6d6d6d;
}
#close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.close-button svg {
    width: 20px;
    height: 20px;
    fill: #333333;
}